/*-- scss:defaults --*/

$color_1: #9B5539; // used for h1 and h2
$color_2: #838c91; // used for h5 and .section-head
$color_3: #2ea6cc; // used for a
$color_4: #c4c4c4; // used for .section-head border
$font_family_1: "Noto Sans Display", "HelveticaNeue", "Helvetica", "Arial", sans-serif; // used for *, p, a, .big, .section-head, h5
$font_family_2: "lora"; // used for h1, h2, h3, h4, .lora
$background_color_1: #ffcb6c; // used for mark
$tag_public_health: #8b6e4a;
$tag_environmental_science: #6a7378;
$tag_social_sciences: #1f8fa8;
$tag_infectious_diseases: #a0a0a0;
// Define color variables for regions
$region_north_america: #0277BD;
$region_south_america: #2E7D32;
$region_europe: #C2185B;



@import "https://fonts.googleapis.com/css?family=Lora:400,600,800";
@import "https://fonts.googleapis.com/css?family=Noto+Sans+Display:300;700";

/*-- scss:rules --*/

#quarto-header .navbar {
  background-color: #2E607A;
  height: 60px;
}

* { 
  font-family: $font_family_1; 
}

h1 {
  font: 800 36px "Lora";
  color: $color_1;
}

h2 {
  font: 600 28px "Lora";
  color: $color_1;
}

h3 {
  font: 600 22px "Lora";
}

h4 {
  font: 600 18px "Lora";
}

h5 {
  font: 600 14px;
  font-variant: small-caps;
  color: $color_2;
}

p {
  font: 11px;
  strong {
    font-weight: 500;
  }
}

a {
  font: 11px;
  color: $color_3;
}

.big {
  font-size: 1.25em;
}

mark {
  background-color: $background_color_1;
  padding: 0.2rem;
}

.wrapper {
  width: 80%;
  margin: 8rem auto;
}

.break {
  height: 5vh;
}

.section-head {
  margin: 2em 0;
  font-family: $font_family_1;
  font-size: 70%;
  font-weight: normal;
  padding: 1em 0;
  color: $color_4;
  border-bottom: 1px solid #c4c4c4;
}


.lora {
  font-family: $font_family_2;
}

.centered-content {
    text-align: center;
}

.person-img {
  float: left;
  width: 200px;
  height: auto;
  max-width: 30%;
  object-fit: cover;
  margin-right: 10px;
}

.person-info {
  text-align: right;
}

.tag-label {
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 12px;
  color: #fff;
  font-family: $font_family_1;
}

.public-health {
  @extend .tag-label;
  background-color: $tag_public_health;
}

.environmental-science {
  @extend .tag-label;
  background-color: $tag_environmental_science;
}

.social-sciences {
  @extend .tag-label;
  background-color: $tag_social_sciences;
}

.infectious-diseases {
  @extend .tag-label;
  background-color: $tag_infectious_diseases;
}

.region-tag {
  @extend .tag-label;
  font-style: italic;
}

.north-america {
  @extend .region-tag;
  background-color: $region_north_america;
}

.south-america {
  @extend .region-tag;
  background-color: $region_south_america;
}

.europe {
  @extend .region-tag;
  background-color: $region_europe;
}
